.bulkActionCheckbox {
  display: inline-block;
  position: relative;
  border: 0;
  padding: 10px;
  cursor: pointer;
}
.bulkActionCheckbox:hover .fa-chevron-down, .bulkActionCheckbox.active .fa-chevron-down {
  visibility: visible;
}
.bulkActionCheckbox:hover, .bulkActionCheckbox.active {
  background-image: linear-gradient(rgb(245, 245, 245), rgb(238, 238, 238));
  padding: 9px;
  border: 1px solid #ccc;
}
.bulkActionCheckbox.active .dropdown {
  display: block;
}
.bulkActionCheckbox input {
  margin-top: 0px;
}
.bulkActionCheckbox .bulk-title {
  margin-left: 5px;
  color: #aaa;
  font-size: 12px;
}
.bulkActionCheckbox .fa-chevron-down {
  margin-left: 5px;
  color: #ccc;
  font-size: 12px;
  visibility: hidden;
  &.select-all {
    visibility: visible;
  }
}
.bulkActionCheckbox .dropdown {
  display: none;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(128,128,128,0.5);
  margin: 0px;
  background-color: #fff;
  border: 1px solid #666;
  list-style: none;
  position: absolute;
  top: 40px;
  left: -1px;
}
.bulkActionCheckbox .dropdown li {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #ccc;
}
.bulkActionCheckbox .dropdown li:hover {
  background-color: #eee;
}
.bulkActionCheckbox .dropdown li:nth-child(1){
  border-top: 0;
}
