<template name="bulkActionCheckbox">
  <span class="{{#if class}}{{class}}{{/if}} bulkActionCheckbox">
    <input type="checkbox" data-set="{{set}}" value="{{value}}" data-target="{{target}}" class="{{#if selectAll}}select-all {{/if}}{{checkboxClass}}" />
    {{#if title}}<span class="bulk-title">{{title}}</span>{{/if}}<i class="fa fa-chevron-down{{#if selectAll}} select-all{{/if}}"></i>
    <ul class="dropdown" style="{{style.dropdown}}">
      {{#each option in options}}
        <li class="dropdown-option {{#if option.class}}{{option.class}}{{/if}}" data-index="{{@index}}">{{option.label}}</li>
      {{/each}}
    </ul>
  </span>
</template>
